<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ page }}</strong>
      <ion-item>
        <ion-label> Melhor de {{ gameData.gameTurns }} partidas: {{ player1Data.victories }}  x {{ player2Data.victories }}</ion-label>
      </ion-item>
      <h6 *ngIf="hasMessage" class="error"> {{message}}</h6>

      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="desktop" style="zoom:2.0;"></ion-icon>
          <ion-input value="{{ gameData.player1 }}" type="text" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-img  [src]="player1Data.current"></ion-img>
          <ion-img  [src]="player2Data.current"></ion-img>
        </ion-item>
        <ion-item>
          <ion-img (click)="player2Turn(1)" src="/assets/img/rock-p2.png"></ion-img>
          <ion-img (click)="player2Turn(2)" src="/assets/img/paper-p2.png"></ion-img>
          <ion-img (click)="player2Turn(3)" src="/assets/img/scissors-p2.png"></ion-img>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person" style="zoom:2.0;"></ion-icon>
          <ion-input value="{{ gameData.player2 }}" type="text" readonly></ion-input>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
